/* GLOBAL */
* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    background: #f2f4f8;
}

/* NAVBAR */
.custom-navbar {
    background-color: #003366;
}

.custom-navbar .nav-link {
    color: white !important;
    font-weight: 600;
}

.custom-navbar .nav-link:hover {
    color: #ffdd57 !important;
}

.logo-img {
    height: 40px;
}

/* PAGE TITLE */
.page-title {
    text-align: center;
    padding: 20px;
}

/* FORM LAYOUT */
.exam-main-div {
    display: flex;
    justify-content: center;
}

.exam-title-div {
    position: absolute;
    margin-top: -24px;
    font-weight: bold;
}

.form-div {
    margin-top: 32px;
    background: white;
    padding: 25px;
    width: 700px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

/* GRID */
.grid-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

label {
    font-weight: bold;
}

/* INPUTS */
input,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

/* RADIO */
.radio-group {
    margin-top: 10px;
}

.radio-options {
    display: flex;
    gap: 30px;
    margin-top: 5px;
}

/* SELECT */
.select-group {
    margin-top: 13px;
}

/* BUTTON */
button {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background: #003366;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background: #0059b3;
}


/*Admission form styling*/
h5 {
    margin-top: 20px;
    color: #003366;
}

.table-container {
    overflow-x: auto;
    margin-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table,
th,
td {
    border: 1px solid gray;
}

th {
    background: #003366;
    color: white;
    padding: 5px;
}

td input {
    width: 100%;
    border: none;
    padding: 5px;
}

.checkbox-group {
    margin-top: 15px;
}

.checkbox-options {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 5px;
}

.section-title {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 25px 0 10px;
    font-weight: bold;
    color: #003366;
}

.section-title::before,
.section-title::after {
    content: "";
    flex: 1;
    border-bottom: 2px solid #003366;
    margin: 0 10px;
}


/*Footer*/
.footer {
    background-color: #003366;
    color: white;
    margin-top: 40px;
    padding: 20px 10px;
}

.footer-content {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.footer h5 {
    margin-bottom: 8px;
    color: #ffdd57;
}

.footer p {
    font-size: 14px;
    line-height: 1.6;
    margin: 0;
}

.footer .copyright {
    margin-top: 8px;
    font-size: 13px;
    opacity: 0.8;
}